
.heading{
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  color:antiquewhite;
  background-color: grey;
  font-size: larger;

}
.body{
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  color:rgb(19, 16, 12);

}
.counter{

}
.congrats{
  
}
